.container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.space-evenly {
    justify-content: space-between;
}

body{
    color: rgb(109, 0, 0);
    background-color: rgb(233, 236, 239);
}

.footer{
    background-color: rgb(109, 0, 0);
    color: rgb(233, 236, 239);
}

img {
    width: 400px;
    height: 0 auto;
}



/* 

https://dw8stlw9qt0iz.cloudfront.net/93su31AO--sZwRNv9_CB3LZK0-8=/fit-in/800x450/filters:format(jpeg):quality(75)/curiosity-data.s3.amazonaws.com/images/content/landscape/standard/524252e5-5813-4d77-895e-f495cde72356.jpg

.container{
    color: rgb(109, 0, 0);
}  */